/* @import url("https://fonts.googleapis.com/css?family=Heebo:300,400,700,900|Roboto:300,400,500,700"); */

.model {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #d1e4a7;
}

.main-container {
  display: flex;
  flex-direction: row;
  position: relative;
  /* flex-wrap: wrap; */
  background-color: white;
  width: 75%;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  margin: 10px;
  padding: 20px;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: left;
  
}
.listOfVM{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.red{
  font-weight: normal;
  background-color: rgba(211, 24, 24, 0.822);
  color: white;
  border-radius: 10%;
  
}
.green{
  font-weight: normal;
  background-color: rgb(158, 216, 119);
  color: white;
  border-radius: 0.3em;
  
}

.eachVM{
  display: flex;
  flex-direction: row;
  align-items: left;
}

.model h1 {
  display: flex; 
  align-self: start;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  font-size: 5vmin;
  text-align: left;
  color:#000000;
}

.model p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 3vmin;
  color: #777777;
  
}

p a {
  color: rgba(255, 255, 255, 0.582);
  text-decoration: none;
}

p a:hover {
  color: #838485;
  transition-duration: 300ms;
  text-decoration: none;
}


.icon {
  width: 4vmin;
  height: 4vmin;
}

.contact-btn {
  color: #000000;
  text-decoration: none;
  margin: 2px;
  padding: 9px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.contact-btn:hover {
  color: #d1e4a7;
  transition-duration: 300ms;
  text-decoration: none;
}

.button-row {
  margin-top: 2em;
}


.color-btn {
  right: 0px;
  top: 0px;
  margin: 10px;
  background: none;
  border: none;
  cursor: pointer;
  outline: inherit;
}

@media screen and (max-width: 1024px) {
  .main-container {
    flex-direction: column;
  }
  .model h1 {
    align-self: center;
  }
  .model p{
    align-self: center;
  }
}